@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 8vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-dropdown-menu-item{
  list-style-type: none !important;
  padding: 0px !important;
}

.ant-dropdown-menu-item-group-list{
  padding-left: 5px !important;
}

ul.ant-card-actions > li:first-child{
  width: 75% !important;
}

ul.ant-card-actions > li:last-child{
  width: 25% !important;
}

.ant-card-body {
  padding: 10px !important;
}

.ant-card-meta-title {
  font-size: 14px !important;
  text-overflow: none !important;
  white-space: unset !important;
}

.shelf {
  border-bottom: 30px solid #855E42;
  border-left: 20px solid transparent;    
  border-right: 20px solid #f0161600; 
  margin-top: -15px;
  z-index: -1;
  margin-left: -20px; 
  margin-right: -20px;
}


.shelfside {
  border-right: 20px solid #a37453;
  border-left: 20px solid #a37453;
  /* border-top: 20px solid transparent;     */
  /* border-bottom: 15px solid #f0161600;  */
  right: -15px;
  left: -15px;
  z-index: -1;
  /* margin-top: -10px;  */
  margin-bottom: -10px;
  
}

 .my-reads{
  text-shadow: 2px 2px #855E42;
  text-align: center;
  color: white;
  font-size: 40px;
}

h1 {
  color: rgb(8, 47, 83);
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

h2 {
  color: rgba(24, 144, 255,1);
  text-shadow: 1px 1px #000;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
}

.book {
	padding: 15px 0 0 0;
	margin: auto;
}

.ant-collapse-content-box{
  padding-bottom: 0 !important;
}
