@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 8vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-dropdown-menu-item{
  list-style-type: none !important;
  padding: 0px !important;
}

.ant-dropdown-menu-item-group-list{
  padding-left: 5px !important;
}

ul.ant-card-actions > li:first-child{
  width: 75% !important;
}

ul.ant-card-actions > li:last-child{
  width: 25% !important;
}

.ant-card-body {
  padding: 10px !important;
}

.ant-card-meta-title {
  font-size: 14px !important;
  text-overflow: none !important;
  white-space: unset !important;
}

.shelf {
  border-bottom: 30px solid #855E42;
  border-left: 20px solid transparent;    
  /* border-right: 15px solid #f0161600;  */
  top: -15px;
  z-index: -1;
  margin-left: -20px; 
  margin-right: -20px;
}

h2{
  text-shadow: 2px 2px #855E42;
  text-align: center;
  color: white;
  font-family:"Impact";
  font-size: 40px;
}

h3{
  text-shadow: 1px 1px #000;
  text-align: center;
  color: #855E42;
  font-family:"Impact";
  font-size: 40px;
}

.book {
	padding: 15px 0 0 0;
	margin: auto;
}
